<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.edu.bookartifact"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ui.ReadChapterActivity"
            />
        <activity android:name="ui.NovelChapterListActivity"/>
        <activity android:name="ui.NovelDescActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name="slidingmenuActivity.SettingActivity"/>
        <activity android:name="slidingmenuActivity.DisclaimerActivity"/>
        <activity android:name="slidingmenuActivity.FeedBackActivity"/>
        <activity android:name="slidingmenuActivity.JoinUsActivity"/>
        <activity android:name="slidingmenuActivity.LocalBookActivity"/>
        <activity android:name="slidingmenuActivity.LoginActivity"/>
        <activity android:name="slidingmenuActivity.WifiTranportActivity"/>
        <activity android:name=".DiscoverActivity"/>
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".ClickActivity"/>
        <activity android:name=".ChatActivity"/>


    </application>

</manifest>