<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.edu.bookartifact"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ui.ReadChapterActivity"/>
        <activity android:name="ui.NovelChapterListActivity"/>
        <activity android:name="ui.NovelDescActivity"/>
        <activity android:name=".ClickActivity"/>
        <activity android:name=".DiscoverActivity"/>
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".MusicActivity"/>
        <service android:name="service.MyService">
            <intent-filter>
                <action android:name="music_service"/>
            </intent-filter>
        </service>

    </application>

</manifest>